# 忽略所有 .o 文件
*.o

# 忽略所有 .a 文件
*.a

# 忽略所有 .log 文件
*.log

# 忽略所有 .tmp 文件
*.tmp

# 忽略所有 .exe 文件
*.exe

# 忽略所有 .out 文件
*.out

# 忽略所有 .class 文件
*.class
*.vcd
*.asm
*.coe
*.dat

# 忽略特定目录下的所有文件
build/
dist/